@import "import/variables.css";

html {
    scroll-behavior: smooth;
}
main {
    padding-bottom: 50px;
}

h1 ,
.about-us-info ,
.info-heading, 
a {
    text-align: center;
}

a {
    text-decoration: none;
}

.cta_reviews {
    background-color: #0D6868;
    color: aliceblue;
    padding: 10px;
    border-radius: 5px;
    justify-content: center;
}

.info {
    display: inline-block;
    padding-left: 10%;
    padding-right: 10%;
    text-align: left;
    width: 80%;
}

img {
    border-radius: 10px;
}

.about-us {
    display: flex;
    flex: 2;
    justify-content: space-evenly;
    gap: 1;
    padding: 50px;
}

.review-btn {
    padding-left: 45%;
    width: 100%;
    justify-content: center;
}
