@import "import/variables.css";

.contact_content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

input,
select, 
.message ,
fieldset, 
textarea {
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  margin: 10px 10px 10px 0px;
  padding: 10px;
}

.message {
  padding-right: 5px;
}

.textarea {
  display: inline-flex;
  width: 300px;
}

.users_message {
  display: flex;
  flex-direction: column;
}
.contact_form {
    margin-top: 50px;
    margin-left: 50px;
}

.contact_content {
    margin-top: 50px;
    margin-bottom: 50px;
}

.post {
    margin-top: 50px;
    margin-bottom: 50px;
}

@media (max-width: 768px) {
  .contact_form {
    margin-top: 10px;
  }

  .contact_content {
    flex-direction: column;
    gap: 10px;
  }

  .name-email {
    display: flex;
    flex-direction: column;
  }

  .contact-input {
    width: 70% ;
  }

  .forms {
    padding-left: 10%;
  }
}