
h1 ,
p {
    text-align: center;
}

.account {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: left;
    color: black;
    justify-content: center;
    text-align: center;
}

.inputs {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    margin-left: 25%;
    background-color: #0D6868;
    color: white;
    justify-content: center;
    text-align: left;
    width: 700px;
}

.input-cta {
    padding-top: 15px;
}