/*Jackets html Page*/

@import "import/variables.css";

@font-face {
    font-family: "Redwing";
    src: url("../fonts/Redwing-Light.otf") format("truetype");
}

.jackets h1 {
    text-align: center;
    padding: 30px 0;
}

.jackets h2 {
    padding-left: 10%;
}

.jackets_content-one ,
.jackets_content-two {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-bottom: 50px;
}

.jackets_content {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.jackets_content a {
    justify-content: center;
    text-align: center;
}

.cta_product-one {
    background-color: var(--primary-color);
    color: var(--light-color);
    text-align: center;
}

/*Jackets Page*/ 

.jacket_image {
    width: 350px;
    height: auto;
    padding-left: 15px;
}

.cta_buy-it {
    background-color: var(--primary-color);
    color: #c4c4c4;
    padding: 10px;
}

.cta_buy-it:hover {
    background-color:var(--accent-color);
    color: var(--primary-color);
    padding: 12px;
}



/*Jacket One Page */

.h1 {
    padding-left: 30%;
}

.product_display-image {
    width: 400px;
    height: 450px;
}

.product_display {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px 50px 30%;
}

.display_price-buy {
    padding-top: 70px;
    padding-left: 20px;
}

.display_icon {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
}

i {
    padding-top: 5px;
    text-size-adjust: 95%;
}


@media (max-width: 768px) {

    .product_display-image {
        width: 180px;
        height: 220px;
        object-fit: cover;
    }
}