/*Global CSS */

@import "import/variables.css";

@font-face {
    font-family: "Redwing";
    src: url("../fonts/Redwing-Light.otf") format("truetype");
}

/*Header */

h1 ,
h2 , 
p {
    font-family: var(--font-family-heading);

}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-size-adjust: 20px;
    width: 100%;
    height: 60px;
}

.logo-section {
    padding-left: 30px;
}

.logo-section,
.header_icons {
    flex: 1;
}

.nav-links {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex: 2;
}

.dropdown-div {
    display: none;
}

header,
 footer {
    background-color: var(--primary-color);
    color: white;
}

header a, 
footer a {
  color: #fff;
  padding: 5px;
  border-color: rgb(228, 183, 183);
}

.header_icons {
    display: flex;
    gap: 15px;
}



.nav-links a {
  padding: 5px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s ease;
}

.nav-links a:hover {
  border-bottom: 2px solid white;
}


a {
    text-decoration: none;
}

.cta {
    background-color: var(--primary-color);
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 15px;
    padding: 10px;
}

.cta:hover {
    background: var(--accent-color);
    color:  var(--primary-color);
    transition-duration: 0.5s;
    font-weight: bold;
}

.cta_product-one {
    background-color:  var(--primary-color);
    color: whitesmoke;
    padding: 10px;
    border-radius: 5px;

}

.cta_product-one:hover {
    background-color: var(--accent-color) ;
    color: var(--primary-color);
    padding: 12px;
    transition-duration: 0.5s;
    font-weight: bold;
}

footer {
    padding: 50px 0px 50px 0px;
    display: flex;
    flex: 1;
    padding-left: 10%;
    justify-content: space-evenly;
}

.footer_links {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

.image_logo {
    width: 80px;
    height: auto;
    filter: brightness(450%);
}

.image_logo2 {
    width: 300px;
    height: auto;
    filter: brightness(350%);
}

.product-one_image {
    width: 250px;
    height: 305px;
}

@media (max-width:768px) {

    .nav-links,
    .header_icons {
        display: none;
    }

    .dropdown-div {
        display: block;
        position: relative;
    }

    .burguer-btn {
        background: none;
        border: none;
        font-size: 24px;
        color: white;
        cursor: pointer;
        padding: 10px;
    }

  .dropdown-menu {
        display: none; 
        flex-direction: column;
        background-color:   var(--primary-color);
        position: absolute;
        top: 40px;
        right: 10px;
        width: 160px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.2);
        z-index: 1000;
         padding: 0;
        margin: 0;
    }

  .dropdown-menu li {
        list-style: none;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid var(--light-color);
    }

  .dropdown-menu li:last-child {
        border-bottom: none;
    }

  .dropdown-menu a {
        display: block;
        color: var(--accent-color);
        text-decoration: none;
        padding: 10px 15px;
        width: 100%;
        box-sizing: border-box;
    }

  .dropdown-menu a:hover {
        background-color: #095050;
    }

    .new-in {
        display: flex;
        flex-direction: column;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer_links {
        display: flex;
        flex-direction: row;
    }

    .sdffooter_links {
        display: none;
    }


    .image_logo2 {
        width: 150px;
        height: 100px;
    }
}
